# item-service-dev.yml
spring:
  application:
    name: item-service
  cloud:        #覆盖配置中心的配置,本地配置优先级更高
    config:
      override-none: true
  rabbitmq:  #配置文件中添加 rabbitmq连接信息
    host: 192.168.64.140
    port: 5672
    username: admin
    password: admin
      
server:
  port: 8001

eureka:
  client:
    service-url:
     defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka
      