# order-service-dev.yml
spring:
  application:
    name: order-service
  cloud:
    config:
      override-none: true
      
server:
  port: 8201
  
eureka:
  client:
    service-url:
     defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka

feign:
  hystrix:
    enabled: true    #feign整合hystrix，启用hystrix     
    
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream   #开启监控