# order-service-dev.yml
spring:
  application:
    name: order-service
  cloud:
    config:
      override-none: true
  rabbitmq:  #配置文件中添加 rabbitmq 连接信息
    host: 192.168.64.140
    port: 5672
    username: admin
    password: admin
      
server:
  port: 8201
  
eureka:
  client:
    service-url:
     defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka

feign:
  hystrix:
    enabled: true    #feign整合hystrix，启用hystrix     
    
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream   #开启监控